:root{
    --main-color: #930000;
    --secondary-color: #dc2121;
    --white-color: #ffff;
}

@font-face {
    font-family: 'Inter';
    src: url('InterReg.ttf') 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 600;
    background-color: transparent; 
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

header.scrolled {
    background-color: var(--main-color); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 40px;
}

.sys-logo{
    height: 40px;
}

header div:nth-of-type(1) {
  display: flex;
  align-items: center;
  z-index: 500;
  padding: 20px;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
    flex-direction: row;
    margin: 10px 0;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    height: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.login-btn{
    background-color: rgba(0, 0, 0, 0); 
    color: var(--white-color);
    font-weight: bold;
    padding: 10px 20px;
    border: solid white 1px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.login-btn:hover{
    background-color: var(--white-color);
    color: var(--main-color);
}

.home{
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(217, 0, 0, 0.8), rgba(65, 0, 0, 0.8)), url("../styles/images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 150px 0 0 0;
}

p{
    font-size: 20px;
}

h1{
    font-size: 60px;
}

.home-container{
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px 40px 30px;
}

.col-logos{
    margin: 0px auto 30px auto;
    max-width: 800px;
    gap: 20px;
}

.col-logos img{
    position: relative;
    height: 80px;
    scale: 1;
    transition: all 0.3s ease;
}

.col-logos img:hover{
    scale: 1.4;
    z-index: 100;
}

.home-btn{
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 100px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.home-btn:hover{
    background-color: var(--white-color);
    color: var(--main-color);
}

.home-container > *:nth-child(3) {
  margin-bottom: 30px;
}

.home-container > *:nth-child(2) {
  margin-bottom: 10px;
}

.get-started > *:nth-child(1) {
  margin-bottom: 10px;
}

h2{
    justify-self: center;
    color: var(--main-color);
}

.published{
    height: 100vh;
    padding: 100px 40px 2rem 40px;
}