:root{
    --main-color: #7e0000;
    --secondary-color: #dc2121;
    --white-color: #ffff;
    --dark-color: #d8d8d8;
    --black-color: #000000;
}

@font-face {
    font-family: 'Inter';
    src: url('InterReg.ttf') 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    background: linear-gradient(135deg, rgba(217, 0, 0, 0.8), rgba(65, 0, 0, 0.8)), url("../styles/images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

body>div{
    background-color: white;
    padding: 2rem;
    width: 500px;
    border-radius: 10px;
}

.progress-bar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.bar{
    background-color: var(--dark-color);
    height: 10px;
    width: 16%;
    border-radius: 10px;
}

.active-bar {
    background-color: var(--main-color);
}

.input-g{
    margin: 10px 0px;
}

.input-g > *:nth-child(3){
    margin: 5px 0px;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    font-size: 16px;
}

.mb1{
    margin-bottom: 10px;
}

.sum-btn{
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 5px;
}

.sum-btn > *{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--dark-color);
    color: var(--black-color);
}

.nxt-btn {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease;
}

.nxt-btn:hover{
    background-color: #ce0000;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.bck-btn {
    transition: all 0.3s ease;
}

.bck-btn:hover{
    background-color: #fefefe;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.l-login{
    background-color: transparent;
    color: white;
    width: 500px;
    padding: 30px;
}

.l-login > *:nth-child(3){
    margin-top: 20px
}

.l-login > *:nth-child(2){
    font-size: 50px;
}

.mt1{
    margin-top: 10px;
}




