:root{
    --main-color: #990000;
    --secondary-color: #dc2121;
    --white-color: #ffff;
    --dark-color: #bdbdbd;
    --black-color: #000000;
}

@font-face {
    font-family: 'Inter';
    src: url('InterReg.ttf') 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

.mb{
    margin-bottom: 10px;
}

body{
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    display: flex;
    align-items: center;
    justify-content: center;
}

body > div{
    margin: 50px 10px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.progress-bar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.bar{
    background-color: var(--dark-color);
    height: 10px;
    width: 16%;
    border-radius: 10px;
}

.active-bar {
    background-color: var(--main-color);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.sum-btn {
    display: flex;
   justify-content: end;
   gap: 5px;
}

.sum-btn > *{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--dark-color);
    color: var(--black-color);
}

.nxt-btn {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease;
}

.nxt-btn:hover{
    background-color: #ce0000;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.bck-btn {
    margin-left: auto;
    transition: all 0.3s ease;
}

.bck-btn:hover{
    background-color: #fefefe;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.pic-input{
    border: 1px dashed ;
    padding: 20px;
    border-radius: 10px;
}

.pic-input > *:nth-child(3){
    margin-top: 10px;
    margin-bottom: 10px;
}