:root{
    --main-color: #b30909;
    --secondary-color: #c21a1a;
    --white-color: #ffff;
}

@font-face {
    font-family: 'Inter';
    src: url('InterReg.ttf') 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    display: flex;
    height: 100vh;
}

.side-bar{
    background-color: var(--main-color);
    color: var(--white-color);
    width: 300px;
}

.side-bar > div{
    margin-top: 50px;
}


.option{
    display: flex;
    height: 50px;
    align-items: center;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
}

.option:hover{
    background-color: var(--secondary-color);
}

.option:before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: transparent;
}

.option.active{
    background-color: var(--secondary-color);
}

.option.active:before{
    background-color: white;
}

.dashboard-logo{
    width: 100%;
}

header{
    padding: 3rem 3rem 0px 2rem;
}

.content{
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.tab-icon {
    margin: 0px 10px 0px 10px;
}

